:root {
  --max-width: 372px;
  --margin-big: 24px;
  --margin-medium: 16px;
  --margin-small: 10px;
  --height: auto;
  --margin-right-header: 70px;
  --margin-top-rating: 24px;
  --el-width: 87.1%;
}

@media only screen and (max-width: 376px) {
  :root {
    --max-width: 343px;
    --height: auto;
    --margin-big: 16px;
    --margin-right-header: 90px;
    --el-width: 90.67%;
  }
}
.modal-open {
  padding-right: 0 !important;
}

.animate-close {
  animation: fadeOut 0.5s ease !important;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#main-page {
  width: 1440px;
  margin: 0;
  height: auto;
  display: flex;
  justify-content: center;
}

.modal-cmp {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  height: var(--height);
  background-color: white;
  animation-name: fadeIn;
  animation-duration: 1s;
  border-radius: 18px;
  padding-right: 0 !important;
}
.modal-cmp .modal-cmp__button-x {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 40px;
  font-weight: 300;
  color: #0D1016;
  position: absolute;
  right: 10px;
  top: 4.6px;
}
.modal-cmp .modal-cmp__button-x:hover {
  cursor: pointer;
}
.modal-cmp .modal-cmp__star {
  margin-left: var(--margin-big);
  margin-top: var(--margin-big);
  background-color: #F0F1F8;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.modal-cmp .modal-cmp__star img {
  width: 16px;
}
.modal-cmp .modal-cmp__header {
  line-height: 1.1;
  letter-spacing: -0.03em;
  margin-left: var(--margin-big);
  margin-right: var(--margin-right-header);
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.modal-cmp .modal-cmp__rating {
  margin-top: var(--margin-top-rating);
  height: 48px;
  width: var(--el-width);
  margin-left: var(--margin-big);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-cmp .modal-cmp__rateBox {
  border: 1px solid #DADFE9;
  height: 48px;
  width: 18.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #FCFCFF;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.modal-cmp .modal-cmp__rateBox:hover {
  background-color: #EEEFFF;
  cursor: pointer;
  border: 1px solid #DADFE9;
}
.modal-cmp .modal-cmp__rateBox--selected {
  background-color: #293CE2 !important;
  color: white;
}
.modal-cmp .modal-cmp__satisfaction {
  margin-top: 12px;
  height: 29px;
  margin-left: var(--margin-big);
  margin-right: var(--margin-big);
  width: var(--el-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-cmp .modal-cmp__satisfaction-text {
  font-size: 12px;
  color: #AEB5C3;
  width: 90px;
  letter-spacing: -0.03em;
  font-weight: 500;
}
.modal-cmp .modal-cmp__satisfaction-text:nth-child(2) {
  text-align: end;
}
.modal-cmp .modal-cmp__button-nextStep {
  width: var(--el-width);
  height: 48px;
  border-radius: 12px;
  border: 0 solid transparent;
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: var(--margin-top-rating);
  left: var(--margin-big);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.03em;
  background-color: #293CE2;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.modal-cmp .modal-cmp__button-nextStep:hover {
  background-color: #4759F4;
}
.modal-cmp .modal-cmp__button-nextStep:disabled {
  color: white;
  background-color: #F0F1F8 !important;
  box-shadow: none !important;
  cursor: default;
}
.modal-cmp .modal-cmp__button-nextStep:active {
  background-color: #2032D0;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  transition: 0.1s ease-in-out;
}
.modal-cmp .modal-cmp__bottom-h {
  height: 96px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=home-page.css.map */